<header class="header pt-1 center">
<!-- <header class="p-1 border" style="background: linear-gradient(90deg,#000000, #fc0303);"> -->
    <div>
      <div class="d-flex flex-wrap col-12">
        <div  class="col-1">
         <span  routerLink="/home"  class="material-icons mt-1 mx-2" style="font-size: 30px;color: white;" aria-hidden="true" aria-label="Example home icon" fontIcon="home">home</span>
        
        </div>
        <div class="col-1 text-left"><app-company-selector/></div>
        <div class="col-3">
        <!-- <ul class="nav col-12 col-lg-auto  mb-1 ">
          <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Inventory</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>
        </ul> -->
    </div>
    <div class="col-5">
        <form class="col-12  mb-3 mb-lg-0 me-lg-2">
          <input type="search" class="form-control" placeholder="{{'Search'|translate}}" aria-label="Search">
        </form>  
    </div>
    <div class="col-1"><app-lenguage-selector/></div> 
    <div class="col-1 text-center d-flex flex-row-reverse">
    <!-- <mat-icon  class="mt-1 text-dark"   aria-hidden="true"  [matMenuTriggerFor]="menu" aria-label="Example home icon" fontIcon="more_vert"/> -->
    <span class="material-icons mt-1 mx-2 dropdown-toggle "   aria-hidden="true"  [matMenuTriggerFor]="menu" aria-label="home icon" fontIcon="account_circle">account_circle</span>
    <!-- <mat-icon  class="mt-1 mx-2 text-dark dropdown-toggle"   aria-hidden="true"  [matMenuTriggerFor]="menu" aria-label="home icon" fontIcon="account_circle"/> -->

    <mat-menu #menu="matMenu">
      <button (click)="simpleAlert()" mat-menu-item>
        <span class="material-icons text-dark mt-1 mx-2"   aria-hidden="true"  [matMenuTriggerFor]="menu" aria-label="user_attributes">person</span>
        <span>{{"UserInfo"| translate}}</span>
      </button>
      <!-- <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button> -->
      <button routerLink="/login" mat-menu-item>
        <span class="material-icons text-dark mt-1 mx-2"   aria-hidden="true"  [matMenuTriggerFor]="menu" aria-label="home icon" >logout</span>
        <span>logout</span>
      </button>
    </mat-menu>
  </div>
        </div>
      </div>
  </header>