<div class="col-12">
    <h1 mat-dialog-title style="color: white;" class="text-center">
    <span>{{"IDDLE_MODAL.INACTIVITY" | translate}}</span>
    </h1>
    <div mat-dialog-content>
      <p>{{"IDDLE_MODAL.INACTIVITY_MESSAGE"| translate}}</p>
      <div class="example-form-fields" >   
         <p><strong>{{idleServiceService.idleState | translate}}</strong></p>
    </div>
      </div>
      <div mat-dialog-actions>
        <button mat-button style="color: white;" (click)="component.stay()"   mat-dialog-close>{{"IDDLE_MODAL.STAY" | translate}}</button>
        <button mat-button style="color: white;" (click)="component.exit()"   mat-dialog-close>{{"IDDLE_MODAL.LOGOUT" | translate}}</button>
      </div>
    </div>
    