 <div class="form-group">
	<!-- <label for="dropdownRole" class="form-label">Perfiles</label> -->
	<div class="dropdown" style="max-width: 415px;" ngbDropdown>
	  <button
		class="form-select text-start"
		id="dropdownRole"
		ngbDropdownToggle
		type="button"
	  >
		{{ selectedTimezone || ('TIMEZONE_SELECTOR.SELECT' | translate) }}
	  </button>
  
	  <div ngbDropdownMenu class="w-100 p-2 shadow-sm dropdown-scroll">
		<input
		  type="search"
		  autocomplete="off"
		  class="form-control mb-2 no-valid-style"
		  [placeholder]="('TIMEZONE_SELECTOR.SEARCH' | translate )"
		  [(ngModel)]="searchTerm"
		/>
  
		<button
		  *ngFor="let item of filteredItems()"
		  class="dropdown-item"
		  type="button"
		  (click)="onTimezoneChange(item)"
		  [class.active]="selectedTimezone === item"
		>
		  {{ item }}
		</button>
	  </div>
	</div>
  </div>