<div class="col-12">
  <mat-accordion>
    <mat-expansion-panel expanded="{{panelOpenState}}" (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="text-center col-12 h5">
            {{'USER_FORM.USERINFO' | translate}}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form class="col-12" ngClass="{{userInfoForm.valid ? 'needs-validated' :'was-validated' }}"
        [formGroup]="userInfoForm" (ngSubmit)="onSubmit()" novalidate>
        <h1 mat-card-title style="color: white;" class="text-center">{{"USER_FORM.USERINFO"| translate}}</h1>

        <div class="col-12 row text-center">

          <div class="form-group col-md-12 ">
            <label>{{'USER_FORM.COMPANY'|translate}}</label>
            <h2 class="pb-0"  matInput>{{getCompany()}}</h2>
          </div>
        </div>

        <hr>

        <div class="col-12 row text-start">
          <div class="form-group col-md-3">
            <label>{{'USER_FORM.EMAIL'|translate}}</label>
            <input class="form-control" (keyup)="getUserName(this)" (blur)="existEmail()" formControlName="email"
              matInput placeholder="{{'USER_FORM.EMAIL'|translate}}" required>
            <div class="invalid-feedback">
              {{"USER_FORM.EMAIL_REQUIRED"|translate}}
            </div>
            <div *ngIf="existEmailFlag" style="font-size: .875em;" class="text-danger">
              {{"USER_FORM.EMAIL_EXIST" | translate}}
            </div>
            <div *ngIf="userInfoForm.get('email')!.errors">
              <div *ngIf="userInfoForm.get('email')!.errors!.email" class="text-danger">{{"USER_FORM.EMAIL_INVALID"| translate}}</div>
            </div>
          </div>
          <div class="form-group col-md-3">
            <label>{{'USER_FORM.USERNAME'|translate}}</label>
            <input class="form-control " formControlName="username" (blur)="existUsername()" matInput
              placeholder="{{'USER_FORM.USERNAME'|translate}}">
            <div class="invalid-feedback">
              {{"USER_FORM.USERNAME_REQUIRED"|translate}}
            </div>
            <div *ngIf="existUsernameFlag" style="font-size: .875em;" class="text-danger">
              {{"USER_FORM.USERNAME_EXIST" | translate}}
            </div>
          </div>
          <div  class="form-group col-md-3 ">
            <label>{{'USER_FORM.COUNTRY'|translate}}</label>
            <lib-country-list [ngClass]="mode ==='edit'?'disabled_country_selector' : ''"   selectedCountryCode="{{user?.countryCode}}"  matInput [selectedCountryConfig]="selectedCountryConfig"
              [countryListConfig]="countryListConfig" (onCountryChange)="onCountryChange($event);existMobile()"
              required  readonly></lib-country-list>
            <div class="invalid-feedback">
              {{"USER_FORM.COUNTRY_REQUIRED"|translate}}
            </div>
          </div>
          <div class="form-group col-md-3">
            <label>{{'USER_FORM.MOBILE'|translate}}</label>
            <input class="form-control" formControlName="mobile" (blur)="existMobile()" matInput placeholder="{{'USER_FORM.MOBILE'|translate}}"
              required />
            <div class="invalid-feedback">
              {{"USER_FORM.MOBILE_REQUIRED"|translate}}
            </div>
            <div *ngIf="existMobileFlag" style="font-size: .875em;" class="text-danger">
              {{"USER_FORM.MOBILE_EXIST" | translate}}
            </div>
            <div *ngIf="userInfoForm.get('mobile')!.errors">
              <div *ngIf="userInfoForm.get('mobile')!.errors!.invalidPhone" style="font-size: .875em;"
                class="text-danger">
                {{"USER_FORM.MOBILE_INVALID" | translate}}
              </div>
            </div>
          </div>

        </div>
<hr>
        <div class="col-12 row text-start">
          <div class="form-group col-md-3">
            <label>{{'USER_FORM.FIRSTNAME'|translate}}</label>  
            <input class="form-control"  formControlName="firstName" matInput placeholder="{{'USER_FORM.FIRSTNAME'|translate}}"
              required>
            <div class="invalid-feedback">
              {{"USER_FORM.FIRSTNAME_REQUIRED"|translate}}
            </div>
          </div>

          <div class="form-group col-md-3">
            <label>{{'USER_FORM.LASTNAME'|translate}}</label>
            <input class="form-control" formControlName="lastName"   matInput placeholder="{{'USER_FORM.LASTNAME'|translate}}"
              required>
            <div class="invalid-feedback">
              {{"Apellido obligatorio"|translate}}
            </div>
          </div>
          <div class="form-group col-md-3">
            <div class="col-sm-12 pt-4">
              <div class="form-check form-switch">
                <input class="form-check-input"   formControlName="enabled" type="checkbox" id="enabled">
                <label class="form-check-label" for="enabled">
                  {{'USER_FORM.ACTIVE'|translate}}
                </label>
              </div>
            </div>
          </div>
          <div class="form-group col-md-3">
            <div class="col-sm-12 pt-4">
              <div class="form-check form-switch">
                <input class="form-check-input"   formControlName="hidden" type="checkbox" id="hidden">
                <label class="form-check-label" for="hidden">
                  {{'USER_FORM.VISIBLE'|translate}}
                </label>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="col-12 row text-start">

          <div class="col-md-3">
            <label>{{'USER_FORM.CREATE_AT'|translate}}</label>
           <h2><span class="form-control badge bg-secondary">{{  userInfoForm.get('createAt')?.value | localizedDate:'medium'   }}</span></h2>
          </div>
          <div class="form-group col-md-3 ">
            <label>{{'USER_FORM.LAST_MODIF'|translate}}</label>
            <h2><span class="form-control badge bg-secondary">{{userInfoForm!.get('lastModif')?.value | localizedDate:'medium' }}</span></h2>
          </div>

          <div class="col-md-3">
            <label>{{'USER_FORM.CREATE_AT_USER'|translate}}</label>
           <h2><span class="form-control badge bg-secondary">{{  userInfoForm.get('createUser')?.value    }}</span></h2>
          </div>
          <div class="form-group col-md-3 ">
            <label>{{'USER_FORM.LAST_MODIF_USER'|translate}}</label>
            <h2><span class="form-control badge bg-secondary">{{userInfoForm!.get('lastModifUser')?.value  }}</span></h2>
          </div>

          
        </div>
         <hr>
         <div class="col-12 row text-start">
          <div class="col-md-6"></div>

         <div *ngIf="mode ==='edit'" class="form-group col-md-3 text-center pt-2">
            <button class="reset badge" type="button"   mat-button (click)="resetPassword()" style="color: white;"> <mat-icon>lock_reset</mat-icon>{{'USER_FORM.RESET_PASSWORD'|translate}}</button>
          </div>
          <div *ngIf="user?.accountLocked" class="form-group col-md-3 ">
            <label>{{'USER_FORM.RESET_LOCKED'|translate}}</label>
            <h2><span class="form-control badge bg-danger">{{'USER_FORM.RESET_LOCKED'|translate}}</span></h2>
          </div>
          
        </div>
         <hr>
        &nbsp;
        <!-- <mat-card-actions align="end">
          <button mat-button routerLink="../" type="button" style="color: white;">{{'USER_FORM.RETURN'|translate}}</button>
          <button mat-button style="color: white;" type="submit">{{'USER_FORM.SUBMIT'|
            translate}}</button>
        </mat-card-actions> -->
      </form>
      <app-messages-modal type="{{type}}" messsage="{{message | translate}}"
        (closeAction)="closeAction()"></app-messages-modal>
    </mat-expansion-panel>
    


    <mat-expansion-panel expanded="{{panelRolesOpenState}}" (opened)="panelRolesOpenState = true" (closed)="panelRolesOpenState = false">
      <mat-expansion-panel-header>
  
        <mat-panel-title>
          <div class="text-center col-12 h5">
            {{'ROLES_TABLE.ROLEINFO' | translate}}
          </div>
  
        </mat-panel-title>
      </mat-expansion-panel-header>
     <app-user-roles 
     [selectedAuthorities]="userInfoForm.value.authorities"
     (selectedAuthoritiesChange)="onAuthoritiesChange($event)" ></app-user-roles>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="{{panelSaveOpenState}}" (opened)="panelSaveOpenState = true" (closed)="panelSaveOpenState = false">
      <mat-expansion-panel-header>
  
        <mat-panel-title>
          <div class="text-center col-12 h5">
            {{'USER_FORM.SUBMIT' | translate}}
          </div>
  
        </mat-panel-title>
      </mat-expansion-panel-header>
    <mat-card-actions align="end">
      <button mat-button routerLink="../" type="button" style="color: white;">{{'USER_FORM.RETURN'|translate}}</button>
      <button mat-button (click)="onSubmit()" style="color: white;" type="submit">{{'USER_FORM.SUBMIT'|
        translate}}</button>
    </mat-card-actions>
  </mat-expansion-panel>
  </mat-accordion>

</div>