<div class="col-12">
  <mat-accordion>
    <mat-expansion-panel expanded="{{panelOpenState}}" (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="text-center col-12 h5">
            {{'ACTION_FORM.ACTIONINFO' | translate}}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form class="col-12" ngClass="{{actionInfoForm.valid ? 'needs-validated' :'was-validated' }}"
        [formGroup]="actionInfoForm" (ngSubmit)="onSubmit()" novalidate>
        <h1 mat-card-title style="color: white;" class="text-center">{{"ACTION_FORM.ACTIONINFO"| translate}}</h1>

        <div class="col-12 row text-center">

          <div class="form-action col-md-12 ">
            <label>{{'ACTION_FORM.COMPANY'|translate}}</label>
            <h2 class="pb-0" matInput>{{getCompany()}}</h2>
          </div>
        </div>

        <hr>

        <div *ngIf="mode ==='edit'" class="col-12 row text-start">
          <div class="form-action col-md-3">
            <label>{{'ACTION_FORM.ID_GRUPO'|translate}}</label>
            <input class="form-control " formControlName="idAction" matInput
              placeholder="{{'ACTION_FORM.ID_GRUPO'|translate}}">
            <div class="invalid-feedback">
              {{"ACTION_FORM.ID_GRUPO_REQUIRED"|translate}}
            </div>

          </div>
        </div>
        <hr>
        <div class="col-12 row text-start">
          <div class="form-action col-md-3">
            <label>{{'ACTION_FORM.GRUPO'|translate}}</label>
            <input class="form-control" formControlName="action" (blur)="existAction()" matInput
              placeholder="{{'ACTION_FORM.GRUPO'|translate}}" required>
            <div class="invalid-feedback">
              {{"ACTION_FORM.GRUPO_REQUIRED"|translate}}
            </div>
            <div *ngIf="existActionFlag" style="font-size: .875em;" class="text-danger">
              {{"ACTION_FORM.GRUPO_EXIST" | translate}}
            </div>
          </div>
          <div class="form-action col-md-3">
            <div class="col-sm-12 pt-4">
              <div class="form-check form-switch">
                <input class="form-check-input" formControlName="enabled" type="checkbox" id="enabled">
                <label class="form-check-label" for="enabled">
                  {{'ACTION_FORM.ACTIVE'|translate}}
                </label>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="col-12 row text-start">

          <div class="col-md-3">
            <label>{{'ACTION_FORM.CREATE_AT'|translate}}</label>
            <h2><span class="form-control badge bg-secondary">{{ actionInfoForm.get('createAt')?.value |
                localizedDate:'medium' }}</span></h2>
          </div>
          <div class="form-action col-md-3 ">
            <label>{{'ACTION_FORM.LAST_MODIF'|translate}}</label>
            <h2><span class="form-control badge bg-secondary">{{actionInfoForm!.get('lastModif')?.value |
                localizedDate:'medium' }}</span></h2>
          </div>

          <div class="col-md-3">
            <label>{{'ACTION_FORM.CREATE_AT_ACTION'|translate}}</label>
            <h2><span class="form-control badge bg-secondary">{{ actionInfoForm.get('createUser')?.value }}</span></h2>
          </div>
          <div class="form-action col-md-3 ">
            <label>{{'ACTION_FORM.LAST_MODIF_ACTION'|translate}}</label>
            <h2><span class="form-control badge bg-secondary">{{actionInfoForm!.get('lastModifUser')?.value }}</span>
            </h2>
          </div>
        </div>
        <hr>
        &nbsp;
        <mat-card-actions align="end">
          <button mat-button routerLink="../" type="button"
            style="color: white;">{{'ACTION_FORM.RETURN'|translate}}</button>
          <button mat-button style="color: white;" type="submit">{{'ACTION_FORM.SUBMIT'|
            translate}}</button>
        </mat-card-actions>
      </form>
      <app-messages-modal type="{{type}}" messsage="{{message | translate}}"
        (closeAction)="closeAction()"></app-messages-modal>
    </mat-expansion-panel>
  </mat-accordion>

</div>