.mat-mdc-card-title {
  background: var(--top-color);
}

.mat-mdc-card-actions {
  background: var(--bottom-color);
}

input.ng-invalid.ng-touched {
  border-color: red;
}



/* .ipv_selected-item {
  position: relative;
  padding: 0 15px 0 15px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #a6a6a6;
  background: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: var(--bs-border-radius) !important;
} */
lib-country-list.disabled_country_selector {
  pointer-events: none; /* Evita clics y eventos */
  opacity: 0.5; /* Hace que parezca deshabilitado */
  cursor: not-allowed; /* Cursor de "prohibido" */
}


button.reset {
  margin: 10px;
  /* display: flex; */
  align-items: center;
  gap: 8px;
  background: var(--bottom-color);

}
.disabled {
  pointer-events: none; /* Evita que el clic funcione */
  opacity: 0.5; /* Opcional: reduce la opacidad para indicar que está deshabilitado */
}  