<div class='login'>
 <div class="wrapper">
         <div class="title">
            Login 
         </div>
         <form  [formGroup]="form" (ngSubmit)="submit()">
            <div class="field">
               <input type="text" placeholder="Username" formControlName="username" (input)="errorChange()" required>
               <label>Username</label>
            </div>
            <div class="field">
               <input type="password" placeholder="Password"  (input)="errorChange()" formControlName="password" required>
               <label>Password</label>
            </div>
            <!-- <div class="content">
               <div class="checkbox">
                  <input type="checkbox" id="remember-me">
                  <label for="remember-me">Remember me</label>
               </div>
               <div class="pass-link">
                  <a href="#">Forgot password?</a>
               </div>
            </div> -->
            <div class="field">
               <input type="submit" value="Login">
            </div>
            <mat-progress-bar *ngIf="send"  color="warn" class="error"   mode="indeterminate"></mat-progress-bar>
            <div *ngIf="error" class="error">
               {{ error }}
            </div>
         </form>
        
        </div>
</div>

