<div class="col-12">
<div class="text-white text-left pt-2 ps-5" *ngIf="!validateRoot() && companyBean">{{companyBean.name}}</div>
<div class="row" *ngIf="validateRoot() && companyBeans">
	<div class="col col-3">
		<div ngbDropdown  class="d-inline-block">
			<button   style="color: white;" type="button" class="btn dropdown pt-3 pt-lg-2" id="dropdownBasic1" ngbDropdownToggle>
				{{'COMPANY_SELECTOR.COMPANY' | translate}}
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button (click)="selectCompany(item)" *ngFor="let item of companyBeans; index as i;"  ngbDropdownItem>{{item.name}}</button>
			</div>
		</div>
	</div>
	<div class="col col-6 pt-2 ps-5" style="color: white;" >{{companyBean?.name}}</div>
</div>
</div>

