<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title"></h4>
		<!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
	</div>
	<div class="modal-body">
        <ngb-alert [type]="type"  [dismissible]="false" >{{messsage}}</ngb-alert>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close();close()">{{'Close' | translate}}</button>
	</div>
</ng-template>

<button id="modalSuccess" hidden class="btn btn-lg btn-outline-primary" (click)="open(content)"></button>