<div class="col-12">
  <div class="col-12">
    <app-menu-mobile *ngIf="foodNode !== undefined && foodNode.length > 0"  [user]="user"  [foodNode]="foodNode" class="col-12  d-md-block d-lg-none d-xl-none fixed-top"></app-menu-mobile>
  </div>
  <div class="col-12">
    <app-header class="col-12 d-none d-lg-block d-xl-block fixed-top" [user]="user">
    </app-header>
  </div>
  <div class="col-12">
    <mat-drawer-container class="col-12" hasBackdrop="true">
      <mat-drawer disableClose="true" opened="{{!collapsed}}" class="col-3 pt-5 float-end d-none d-lg-block d-xl-block"
        #drawer mode="over">
        <div class="col-12">
          <span (click)="drawer.toggle();sidevarChange(this)" *ngIf="!collapsed"
            class="float-end material-icons d-none d-lg-block d-xl-block">
            arrow_back
          </span>
        </div>
        <div class="col-12 ms-3 mt-3">
          <app-menu *ngIf="showMenu" [foodNode]="foodNode" [component]="this" [sidevarChange]="sidevarChange"></app-menu>
        </div>
      </mat-drawer>
      <mat-drawer-content class="col-12 min-vh-100">
        <div class="col-12 d-none  d-lg-block pt-5 " (click)="drawer.toggle();sidevarChange(this)">
          <span *ngIf="collapsed" class="material-icons sidevar pt-5">
            menu
          </span>
        </div>
        <div class="col-12 h-80 scrolling"  ngbScrollSpy #spy="ngbScrollSpy" [ngClass]="!collapsed ? '' : 'ms-md-3'">
          <app-messages  class="col-12"></app-messages>

          
          <app-breadcrumb class="col-12 d-none d-lg-block d-xl-block"></app-breadcrumb>
          <router-outlet  *ngIf="getRouter().url  !== '/Home'" >
          </router-outlet>
          <app-main  *ngIf="getRouter().url  === '/Home'" ></app-main>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
  <div class="col-12">
    <app-footer class="bg-info text-center text-lg-start mt-auto fixed-bottom">
    </app-footer>
  </div>
</div>