<div class="col-12 text-center ps-4 pe-4">
  <div class="col-12 text-center">
    <mat-accordion>
      <mat-expansion-panel expanded="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
    test
        <!-- home.component.html -->
<div  *ngIf="isImageReady" class="home-background" [ngStyle]="{ 'background-image': 'url(' + backgroundUrl + ')' }">
  <!-- <div class="home-content">
    <h1>{{ 'HOME.TITLE' | translate }}</h1>
  </div> -->
</div>


      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>