<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<app-messages class="col-12"></app-messages>
<div class="login">
    <div class="wrapper">
      <div class="title"> {{"PASSWORD_CONFIRMATION.TITLE"|translate}}</div>
      <form ngClass="{{!passwordForm.valid ? 'needs-validated' :'was-validated' }}" [formGroup]="passwordForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group col-md-12">
          <lib-country-list class=""  *ngIf="!isPhoneVerified"
            [selectedCountryConfig]="selectedCountryConfig" [countryListConfig]="countryListConfig"
            (onCountryChange)="onCountryChange($event)" required></lib-country-list>
            <div  class="invalid-feedback">
              {{"PASSWORD_CONFIRMATION.COUNTRY_REQUIRED"|translate}}
            </div>
        </div>
        <div class="field password-container" *ngIf="!isPhoneVerified">
          <input type="text" formControlName="phoneNumber"   name="phoneNumber" required pattern="[0-9]{10}">
          <label>{{"PASSWORD_CONFIRMATION.PHONE_NUMBER" | translate}}</label>
        </div>
        <div class="text-danger" *ngIf="passwordForm.controls.phoneNumber.errors">
          <div  *ngIf="passwordForm.controls.phoneNumber.errors.required" class="error-message">{{'PASSWORD_CONFIRMATION.PHONE_NUMBER_REQUIRED' | translate}}</div>
          <div   *ngIf="passwordForm.controls.phoneNumber.errors.length" class="error-message">{{'PASSWORD_CONFIRMATION.PHONE_NUMBER_LENGTH' | translate}}</div>
          <div  *ngIf="passwordForm.controls.phoneNumber.errors.number" class="error-message">{{'PASSWORD_CONFIRMATION.PHONE_NUMBER_NUMERIC' | translate}}</div>
        </div>
        <div class="field password-container" *ngIf="!isPhoneVerified">
          <button type="button" (click)="sendSmsCode()" 
          [disabled]="!country || isPhoneVerified || isSending || countdown > 0 || passwordForm.controls.phoneNumber.errors">
          <span *ngIf="countdown <= 0">{{"PASSWORD_CONFIRMATION.SMS_CODE" | translate}}</span>
          <span *ngIf="countdown > 0">{{'PASSWORD_CONFIRMATION.SMS_RESEND_CODE' | translate}}{{ countdown }}s</span>
          </button>
        </div>
        <div class="field password-container" *ngIf="smsSent">
          <input type="text" formControlName="smsCode" name="smsCode" required>
          <label>{{"PASSWORD_CONFIRMATION.SMS_ENTER_CODE" | translate}}</label>
        </div>
         <!-- Botón de verificación del código SMS -->
      <div class="field password-container" *ngIf="smsSent">
        <button type="button" (click)="verifySmsCode()">{{"PASSWORD_CONFIRMATION.SMS_VERIFY_CODE" | translate}}</button>
      </div>
        <div class="field password-container"  *ngIf="isPhoneVerified">
          <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"  required>
          <i class="toggle-password" (click)="togglePasswordVisibility()" >
            <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </i>
          <label>{{"PASSWORD_CONFIRMATION.PASSWORD" | translate}}</label>
        </div>
        <div class="text-danger" *ngIf="passwordForm.controls.password.errors">
          <div  *ngIf="passwordForm.controls.password.errors.required" class="error-message">{{"PASSWORD_CONFIRMATION.PASSWORD_REQUIRED" | translate}}</div>
          <div   *ngIf="passwordForm.controls.password.errors.minLength" class="error-message">{{"PASSWORD_CONFIRMATION.PASSWORD_MIN_LENGTH" | translate}}</div>
          <div  *ngIf="passwordForm.controls.password.errors.uppercase" class="error-message">{{"PASSWORD_CONFIRMATION.PASSWORD_UPPERCASE" | translate}}</div>
          <div  *ngIf="passwordForm.controls.password.errors.lowercase" class="error-message">{{"PASSWORD_CONFIRMATION.PASSWORD_LOWERCASE" | translate}}</div>
          <div  *ngIf="passwordForm.controls.password.errors.number" class="error-message">{{"PASSWORD_CONFIRMATION.PASSWORD_NUMBER" | translate}}</div>
          <div  *ngIf="passwordForm.controls.password.errors.specialChar" class="error-message">{{"PASSWORD_CONFIRMATION.PASSWORD_SPECIAL_CHAR" | translate}}</div>
        </div>
        <div class="field password-container"  *ngIf="isPhoneVerified">
          <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" name="confirmPassword"  required>
          <i class="toggle-password" (click)="toggleConfirmPasswordVisibility()">
            <mat-icon>{{ showConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
         </i>
          <label>{{"PASSWORD_CONFIRMATION.CONFIRM_PASSWORD" | translate}}</label>
        </div>
        <br>
        <div class="text-danger" *ngIf="passwordForm.controls.confirmPassword.errors">
          <div  *ngIf="passwordForm.controls.confirmPassword.errors.required" class="error-message">{{"PASSWORD_CONFIRMATION.CONFIRM_PASSWORD_REQUIRED" | translate}}</div>
        </div>
        <div *ngIf="errorMessage" class="error">{{ errorMessage | translate }}</div>
        
        <div class="field"  *ngIf="isPhoneVerified">
          <button  [disabled]="!passwordForm.valid || !isPhoneVerified" type="submit" value="Submit">{{"PASSWORD_CONFIRMATION.SUBMIT" | translate}}</button>
        </div>
      </form>
    </div>
  </div>
  
