<div class="col-12">
  <mat-accordion>
    <mat-expansion-panel expanded="{{panelOpenState}}" (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="text-center col-12 h5">
            {{'GROUP_FORM.GROUPINFO' | translate}}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form class="col-12" ngClass="{{groupInfoForm.valid ? 'needs-validated' :'was-validated' }}"
        [formGroup]="groupInfoForm" (ngSubmit)="onSubmit()" novalidate>
        <h1 mat-card-title style="color: white;" class="text-center">{{"GROUP_FORM.GROUPINFO"| translate}}</h1>

        <div class="col-12 row text-center">

          <div class="form-group col-md-12 ">
            <label>{{'GROUP_FORM.COMPANY'|translate}}</label>
            <h2 class="pb-0" matInput>{{getCompany()}}</h2>
          </div>
        </div>

        <hr>

        <div *ngIf="mode ==='edit'" class="col-12 row text-start">
          <div class="form-group col-md-3">
            <label>{{'GROUP_FORM.ID_GRUPO'|translate}}</label>
            <input class="form-control " formControlName="idGrupo" matInput
              placeholder="{{'GROUP_FORM.ID_GRUPO'|translate}}">
            <div class="invalid-feedback">
              {{"GROUP_FORM.ID_GRUPO_REQUIRED"|translate}}
            </div>

          </div>
        </div>
        <hr>
        <div class="col-12 row text-start">
          <div class="form-group col-md-3">
            <label>{{'GROUP_FORM.GRUPO'|translate}}</label>
            <input class="form-control" formControlName="grupo" (blur)="existGroup()" matInput
              placeholder="{{'GROUP_FORM.GRUPO'|translate}}" required>
            <div class="invalid-feedback">
              {{"GROUP_FORM.GRUPO_REQUIRED"|translate}}
            </div>
            <div *ngIf="existGroupFlag" style="font-size: .875em;" class="text-danger">
              {{"GROUP_FORM.GRUPO_EXIST" | translate}}
            </div>
          </div>
          <div class="form-group col-md-3">
            <div class="col-sm-12 pt-4">
              <div class="form-check form-switch">
                <input class="form-check-input" formControlName="enabled" type="checkbox" id="enabled">
                <label class="form-check-label" for="enabled">
                  {{'GROUP_FORM.ACTIVE'|translate}}
                </label>
              </div>
            </div>
          </div>
          <div class="form-group col-md-3">
            <div class="col-sm-12 pt-4">
              <div class="form-check form-switch">
                <input class="form-check-input" formControlName="hidden" type="checkbox" id="hidden">
                <label class="form-check-label" for="hidden">
                  {{'GROUP_FORM.VISIBLE'|translate}}
                </label>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="col-12 row text-start">
          <div  class="form-group col-md-3 ">
            <label>{{'USER_FORM.ROLE'|translate}}</label>
            <app-role-selector-multiple (rolesSelected)="onRolesSelected($event)" [selectedAuthorities]="group.authorities" [ngClass]="mode ==='edit'?'disabled_country_selector' : ''"     matInput
     
              required  readonly></app-role-selector-multiple>.
            <div class="invalid-feedback">
              {{"USER_FORM.ROLE_REQUIRED"|translate}}
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
        <hr>
        <div class="col-12 row text-start">

          <div class="col-md-3">
            <label>{{'GROUP_FORM.CREATE_AT'|translate}}</label>
            <h2><span class="form-control badge bg-secondary">{{ groupInfoForm.get('createAt')?.value |
                localizedDate:'medium' }}</span></h2>
          </div>
          <div class="form-group col-md-3 ">
            <label>{{'GROUP_FORM.LAST_MODIF'|translate}}</label>
            <h2><span class="form-control badge bg-secondary">{{groupInfoForm!.get('lastModif')?.value |
                localizedDate:'medium' }}</span></h2>
          </div>

          <div class="col-md-3">
            <label>{{'GROUP_FORM.CREATE_AT_GROUP'|translate}}</label>
            <h2><span class="form-control badge bg-secondary">{{ groupInfoForm.get('createUser')?.value }}</span></h2>
          </div>
          <div class="form-group col-md-3 ">
            <label>{{'GROUP_FORM.LAST_MODIF_GROUP'|translate}}</label>
            <h2><span class="form-control badge bg-secondary">{{groupInfoForm!.get('lastModifUser')?.value }}</span>
            </h2>
          </div>
        </div>
        <hr>
        &nbsp;
        <mat-card-actions align="end">
          <button mat-button routerLink="../" type="button"
            style="color: white;">{{'GROUP_FORM.RETURN'|translate}}</button>
          <button mat-button style="color: white;" type="submit">{{'GROUP_FORM.SUBMIT'|
            translate}}</button>
        </mat-card-actions>
      </form>
      <app-messages-modal type="{{type}}" messsage="{{message | translate}}"
        (closeAction)="closeAction()"></app-messages-modal>
    </mat-expansion-panel>
  </mat-accordion>

</div>