 <div class="form-privilegy">
	<!-- <label for="dropdownPrivilegy" class="form-label">Perfiles</label> -->
	<div class="dropdown w-100" ngbDropdown>
	  <button
		class="form-select text-start"
		id="dropdownPrivilegy"
		ngbDropdownToggle
		type="button"
	  >
		{{ privilegyBean?.idPrivilegy || ('PRIVILEGY_SELECTOR.SELECT' | translate) }}
	  </button>
  
	  <div ngbDropdownMenu class="w-100 p-2 shadow-sm dropdown-scroll">
		<input
		  type="search"
		  autocomplete="off"
		  class="form-control mb-2 no-valid-style"
		  [placeholder]="('PRIVILEGY_SELECTOR.SEARCH' | translate )"
		  [(ngModel)]="searchTerm"
		/>
  
		<!-- <button
		  *ngFor="let item of filteredItems()"
		  class="dropdown-item"
		  type="button"
		  (click)="selectPrivilegy(item)"
		  [class.active]="privilegyBean?.idPrivilegy === item.idPrivilegy"
		>
		  {{ item.idPrivilegy }}
		</button> -->
	  </div>
	</div>
  </div>