.mat-toolbar{
    background: var(--top-color);
    clear:both;
    position: relative;
    color:var(--font-color);
  
    /* height: 36px; */
   
}
.material-icons {
    font-size: 26px;
    vertical-align: middle;
    color: var(--font-color);
  
  }
  .mat-toolbar-row{
    padding: 0px;
  }

  
    .mat-toolbar-row2 :hover {
   opacity:  0.5 !important;
}  

