<div class="col-12 row">
	<div class="col">
		<div   ngbDropdown class="d-inline-block">
			<button 
			 style="color: white;" type="button" class="btn dropdown" id="dropdownBasic1" ngbDropdownToggle>
			 {{'LENGUAGE_SELECTOR.LANGUAGE' | translate}}
			</button>
			<div  ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<option *ngFor="let language of translate.getLangs()"  [value]="language"
				[selected]="language == translate.currentLang" (click)="switchLenguage(language)"
				 ngbDropdownItem>{{language.split("-")[0]}}</option>
			</div>
		</div>
	</div>
