/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .login {
    padding-top: 50px;
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    /* background: #da9595; */
    /* background: linear-gradient(-135deg,#c850c0, #d04141);  */
  }
  ::selection {
    background: #d04141;
    color: var(--font-color);
  }
  .wrapper {
    width: 380px;
    background: var(--font-color);
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  }
  .wrapper .title {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    color: var(--font-color);
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: var(--start-login-color);
  }
  .wrapper form {
    padding: 10px 30px 50px 30px;
  }
  .wrapper form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
  }
  .wrapper form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
  }
  .wrapper form .field input:focus,
  form .field input:valid {
    border-color: #d04141;
  }
  .wrapper form .field label {
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
  form .field input:focus ~ label,
  form .field input:valid ~ label {
    top: 0%;
    font-size: 16px;
    color: #d04141;
    background: var(--font-color);
    transform: translateY(-50%);
  }
  form .content {
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
  }
  form .content .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form .content input {
    width: 15px;
    height: 15px;
    background: red;
  }
  form .content label {
    color: #262626;
    user-select: none;
    padding-left: 5px;
  }
  form .content .pass-link {
    color: "";
  }
  form .field input[type="submit"] {
    color: var(--font-color);
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: var(--end-color);
    transition: all 0.3s ease;
  }
  form .field input[type="submit"]:active {
    transform: scale(0.95);
  }
  form .signup-link {
    color: #262626;
    margin-top: 20px;
    text-align: center;
  }
  form .pass-link a,
  form .signup-link a {
    color: #d04141;
    text-decoration: none;
  }
  form .pass-link a:hover,
  form .signup-link a:hover {
    text-decoration: underline;
  }
  
  .error {
    font-size: 15px;
    font-weight: 50;
    text-align: center;
    line-height: 50px;
    color: var(--font-color);
    user-select: none;
    border-radius: 15px 15px 15px 15px;
    background: var(--start-login-color);
  }
  
    .error-message {
    font-size: 0.9em; /* Ajusta el tamaño según sea necesario */

  }
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}
.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
  