<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<app-messages class="col-12"></app-messages>
<div class="login">
    <div class="wrapper">
      <div class="title">Password Confirmation</div>
      <form ngClass="{{!passwordForm.valid ? 'needs-validated' :'was-validated' }}" [formGroup]="passwordForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="field password-container">
          <!-- <input type="password" formControlName="password" type="password" name="password" required> -->
          <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password" required>
          <i class="toggle-password" (click)="togglePasswordVisibility()">
            <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </i>
          <label>Password</label>
        </div>
        <div class="text-danger" *ngIf="passwordForm.controls.password.errors">
          <div  *ngIf="passwordForm.controls.password.errors.required" class="error-message">Password is required.</div>
          <div   *ngIf="passwordForm.controls.password.errors.minLength" class="error-message">Password must be at least 8 characters long.</div>
          <div  *ngIf="passwordForm.controls.password.errors.uppercase" class="error-message">Password must contain at least one uppercase letter.</div>
          <div  *ngIf="passwordForm.controls.password.errors.lowercase" class="error-message">Password must contain at least one lowercase letter.</div>
          <div  *ngIf="passwordForm.controls.password.errors.number" class="error-message">Password must contain at least one number.</div>
          <div  *ngIf="passwordForm.controls.password.errors.specialChar" class="error-message">Password must contain at least one special character.</div>
        </div>
        <div class="field password-container">
          <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" name="confirmPassword" required>
          <i class="toggle-password" (click)="toggleConfirmPasswordVisibility()">
            <mat-icon>{{ showConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
         </i>
          <label>Confirm Password</label>
        </div>
        <div class="text-danger" *ngIf="passwordForm.controls.confirmPassword.errors">
          <div  *ngIf="passwordForm.controls.confirmPassword.errors.required" class="error-message">Confirm password is required.</div>
        </div>
        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
        
        <div class="field">
          <input  [disabled]="!passwordForm.valid" type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
  
