<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<app-messages class="col-12"></app-messages>
<div class="login">
    <div class="wrapper">
      <div class="title">Password Confirmation</div>
      <form ngClass="{{!passwordForm.valid ? 'needs-validated' :'was-validated' }}" [formGroup]="passwordForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group col-md-12">
          <!-- <input class="form-control" formControlName="country" matInput placeholder="{{'Country'|translate}}"
            required> -->
          <lib-country-list class=""  *ngIf="!isPhoneVerified"
            [selectedCountryConfig]="selectedCountryConfig" [countryListConfig]="countryListConfig"
            (onCountryChange)="onCountryChange($event)" required></lib-country-list>
            <div  class="invalid-feedback">
              {{"country:required"|translate}}
            </div>
          <!-- <mat-hint>Hint</mat-hint> -->
        </div>
        <div class="field password-container" *ngIf="!isPhoneVerified">
          <input type="text" formControlName="phoneNumber"   name="phoneNumber" required pattern="[0-9]{10}">
          <label>Phone Number</label>
        </div>
        <div class="text-danger" *ngIf="passwordForm.controls.phoneNumber.errors">
          <div  *ngIf="passwordForm.controls.phoneNumber.errors.required" class="error-message">phone number is required.</div>
          <div   *ngIf="passwordForm.controls.phoneNumber.errors.length" class="error-message">phone number must be 10 numbers long.</div>
          <div  *ngIf="passwordForm.controls.phoneNumber.errors.number" class="error-message">Password must be number.</div>
        </div>
        <div class="field password-container" *ngIf="!isPhoneVerified">
          <button type="button" (click)="sendSmsCode()" 
          [disabled]="!country || isPhoneVerified || isSending || countdown > 0 || passwordForm.controls.phoneNumber.errors">
          <span *ngIf="countdown <= 0">Send Code</span>
          <span *ngIf="countdown > 0">Resend in {{ countdown }}s</span>
          </button>
        </div>
        <div class="field password-container" *ngIf="smsSent">
          <input type="text" formControlName="smsCode" name="smsCode" required>
          <label>Enter SMS Code</label>
        </div>
         <!-- Botón de verificación del código SMS -->
      <div class="field password-container" *ngIf="smsSent">
        <button type="button" (click)="verifySmsCode()">Verify Code</button>
      </div>
        <div class="field password-container"  *ngIf="isPhoneVerified">
          <!-- <input type="password" formControlName="password" type="password" name="password" required> -->
          <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"  required>
          <i class="toggle-password" (click)="togglePasswordVisibility()" >
            <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </i>
          <label>{{"PASSWORD" | translate}}</label>
        </div>
        <div class="text-danger" *ngIf="passwordForm.controls.password.errors">
          <div  *ngIf="passwordForm.controls.password.errors.required" class="error-message">Password is required.</div>
          <div   *ngIf="passwordForm.controls.password.errors.minLength" class="error-message">Password must be at least 8 characters long.</div>
          <div  *ngIf="passwordForm.controls.password.errors.uppercase" class="error-message">Password must contain at least one uppercase letter.</div>
          <div  *ngIf="passwordForm.controls.password.errors.lowercase" class="error-message">Password must contain at least one lowercase letter.</div>
          <div  *ngIf="passwordForm.controls.password.errors.number" class="error-message">Password must contain at least one number.</div>
          <div  *ngIf="passwordForm.controls.password.errors.specialChar" class="error-message">Password must contain at least one special character.</div>
        </div>
        <div class="field password-container"  *ngIf="isPhoneVerified">
          <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" name="confirmPassword"  required>
          <i class="toggle-password" (click)="toggleConfirmPasswordVisibility()">
            <mat-icon>{{ showConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
         </i>
          <label>Confirm Password</label>
        </div>
        <br>
        <div class="text-danger" *ngIf="passwordForm.controls.confirmPassword.errors">
          <div  *ngIf="passwordForm.controls.confirmPassword.errors.required" class="error-message">Confirm password is required.</div>
        </div>
        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
        
        <div class="field"  *ngIf="isPhoneVerified">
          <button  [disabled]="!passwordForm.valid || !isPhoneVerified" type="submit" value="Submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
  
